body {
	background-color: #000;
	margin: 0px;
	overflow: hidden;
	font-family: 'Droid Serif', serif;
	display: none;
}

.loading-screen {
	background-color: #000;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1002;
}

.dialog-info {
	width: 100%;
	overflow-y: scroll;
	padding: 10px;
	font-size: small;
}

.dialog-info p { text-indent: 1.5em; }

.destination-list {
	width: 160px;
	border: 1px solid #808080;
	background: #000;
	display: none;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.77);
	-moz-box-shadow:    0px 0px 3px 0px rgba(255, 255, 255, 0.77);
	box-shadow:         0px 0px 3px 0px rgba(255, 255, 255, 0.77);
}

.destination-list ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
}

.destination-list li {
	font-size: small;
	border-bottom: 1px dotted #808080;
	padding: 6px;
	margin:0px;
	text-shadow: 0 0 4px #fff;
	cursor: pointer;
}

.destination-list li:hover {
	background: #0F0F0A;
}

@-webkit-keyframes pulsePerspective {
  from { color: #808080; text-shadow: 0 0 1px #808080; }
  50% { color: #fff; text-shadow: 0 0 40px #fff; }
  to { color: #808080; text-shadow: 0 0 1px #808080; }
}

.perspective-list {
	text-decoration: underline;
	cursor: pointer;
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	-webkit-animation-name: pulsePerspective;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

.chg-perspective-glow {
	-webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.77);
	-moz-box-shadow:    0px 0px 30px 0px rgba(255, 255, 255, 0.77);
	box-shadow:         0px 0px 30px 0px rgba(255, 255, 255, 0.77);
}

.closeDialog {
	float: right;
	vertical-align: middle;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
	cursor: pointer;
	-moz-opacity: 0.70;
	opacity: 0.70;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
}

.closeDialog:hover {
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
	text-shadow: 0px 0px 12px rgba(255, 255, 255, 1);
}

.object-label {
	color: #fff;
	display: none;
	padding: 5px;
	font-size: small;
	border-radius: 2px;
	cursor: pointer;
	-moz-opacity: 0.50;
	opacity: 0.50;
	display: none;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
}

.object-label:hover, #controls:hover, .scales:hover {
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}

#controls {
	position: absolute;
	top:0px;
	left:0px;
	padding: 20px;
	width: 20px;
	-moz-opacity: 0.30;
	opacity: 0.30;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

#soundToggle, #helpToggle {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('../img/toggle-icons.png');
	margin-left: -50%;
	cursor: pointer;
}

#soundToggle { 
	margin-top: 20px;
}

.sound-on { background-position: center top; }
.sound-off { background-position: center center; }
.user-tip {
	position: absolute;
	bottom: 0;
	padding: 20px;
	width: 20px;
	text-align: center;
	display: inline-block;
	margin:auto;
	color: #fff;
}

#helpToggle {
	margin-bottom: 20px;
	background-position: center bottom;
}

.link-info {
	color: #fff;
}

#zoomScroll {
	height: 700px;
	cursor: n-resize;
	margin-left: 2px;
}

#zoomScroll div { cursor: n-resize; }

.info {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 15px;
	text-align: right;
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
}

.dateTime {
	color: #fff;
	font-size: x-large;
}

.tourLink {
	color: #fff;
	font-size: medium;
	font-style: italic;
	margin-top: 5px;
}

.tourLink div {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	margin-right: 5px;
	background: #fff;
}

.scales {
	color: #fff;
	position: absolute;
	bottom:80px;
	right:0px;
	padding: 20px;
	height: 20px;
	z-index: 1001;
	-moz-opacity: 0.30;
	opacity: 0.30;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
}

.scales label {
	margin-bottom: 10px;
}

.scales .noUi-horizontal {
	width: 150px;
	margin-top: 10px;
}

.grayed-out { color: #808080; text-shadow: none; }

.dialogUnderlay {
	display: none;
	-moz-opacity: 0.5;
	opacity: 0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
	text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.77);
	-moz-box-shadow:    0px 0px 30px 0px rgba(255, 255, 255, 0.77);
	box-shadow:         0px 0px 30px 0px rgba(255, 255, 255, 0.77);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	background-color: #000;
	width: 600px;
	position: absolute;
	top: 80px;
	right: 20px;
	padding: 20px;
	width: 25%;
	z-index: 1001;
}

.dialogWindow {
	display: none;
	width: 600px;
	position: absolute;
	top: 80px;
	right: 20px;
	padding: 20px;
	width: 25%;
	color: #fff;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	font-family: 'Droid Serif', serif;
	font-size: 12pt;
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
	z-index: 1001;
}

.heading {
	border-bottom: 1px solid #fff;
	color: #fff;
	font-size: xx-large;
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
	padding: 5px;
}

#objTitle {
	margin: auto;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: 0px;
	margin-top: 1%;
	cursor: pointer;
}

#objTitle:hover {
	text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
}